.demo{


}
.textOver{

}

pre{
    background-color: #444444;
    border: 1px solid #272822;
    border-radius:6px ;
    width: 400px;
}
ol{
    background-color: #272822;
    padding: 8px;
    color: #666;
    margin: 0 0 0 3em;
}

ol span{
    color: #66D9EF;
}

.diplayIn{
    display: inline-block;
    font-family: Monospace;
}
.ptext{
    width: 100px;
    line-height: 25px;
    visibility: hidden;
    position: fixed;
    top:0;
    left: 0;
}