@font-face {
    font-family: 'icomoon';
    src:    url('http://i2.dpfile.com/ba/es/ehr/fonts/0.0.1/icomoon.eot?zcloxa');
    src:    url('http://i2.dpfile.com/ba/es/ehr/fonts/0.0.1/icomoon.eot?zcloxa#iefix') format('embedded-opentype'),
        url('http://i2.dpfile.com/ba/es/ehr/fonts/0.0.1/icomoon.ttf?zcloxa') format('truetype'),
        url('http://i2.dpfile.com/ba/es/ehr/fonts/0.0.1/icomoon.woff?zcloxa') format('woff'),
        url('http://i2.dpfile.com/ba/es/ehr/fonts/0.0.1/icomoon.svg?zcloxa#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-meituanLogo:before {
    content: "\e914";
}
.icon-uniF06E:before {
    content: "\f06e";
}
.icon-down:before {
    content: "\f0dd";
}
.icon-up:before {
    content: "\f0de";
}
.icon-add:before {
    content: "\e90b";
}
.icon-home:before {
    content: "\e90c";
}
.icon-loginOut:before {
    content: "\e90d";
}
.icon-menu:before {
    content: "\e90a";
}
.icon-logo:before {
    content: "\e909";
}
.icon-hasLogin:before {
    content: "\e900";
}
.icon-noLogin:before {
    content: "\e901";
}
.icon-uniE902:before {
    content: "\e902";
}
.icon-date:before {
    content: "\e903";
}
.icon-search:before {
    content: "\e904";
}
.icon-selectDown:before {
    content: "\e905";
}
.icon-qzone_c:before {
    content: "\e906";
}
.icon-sina_weibo_c:before {
    content: "\e907";
}
.icon-wechat_c:before {
    content: "\e908";
}
.icon-round:before {
    content: "\e90e";
}
.icon-yes:before {
    content: "\e90f";
}
.icon-file-zip:before {
    content: "\e910";
}
.icon-copy:before {
    content: "\e911";
}
.icon-paste:before {
    content: "\e912";
}
.icon-stack:before {
    content: "\e913";
}

